@import url(./fonts.css);

/* CUSTOM PROPS */

:root {
    --orange: #F18128;
    --white: #fff;
    --orange-link: #ED8E00;
    --dark-blue: #242424;
    --Roboto: "Roboto";
    --Montserrat: "Montserrat";
    --Comfortaa: "Comfortaa";
}

/* GLOBAL STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1146px ;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* BTN */

.btn {
    display: inline-block;
    max-width: 166px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: var(--orange);
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
    color: #000;
    font-family: var(--Roboto);
    font-size: 14px;
    font-weight: 500;
    transition: .5s;
}
.btn:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

.title {
    color: var(--orange);
    font-family: var(--Comfortaa);
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 2px solid var(--orange);
    width: max-content;
    margin-bottom: 54px;
}

body {
    font-family: var(--Montserrat);
    background-color: var(--dark-blue);
}

/* SITE-ADS */
.site-ads {
    background: linear-gradient(90deg, #0031AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    color: var(--white);
    padding-top: 20px;
    padding-bottom: 20px;
}
.site-ads__text {
    max-width: 166px;
    width: 100%;
    font-family: var(--Comfortaa);
    font-size: 16px;
    font-weight: 400;
}
/* SITE-ADS */


/* SITE-HEADER */

.site-header {
    width: 100%;
    background: rgba(1, 3, 5, 0.80);
    backdrop-filter: blur(7.5px);
    position: fixed;
    left: 0;
   
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex   ;
}
.menu-link {
    padding: 42px 12px;
    display: inline-block;
    color: var(--white);
   font-size: 14px;
   font-weight: 400;
   transition: .4s;
   position: relative;
}
.menu-link:hover {
    color: var(--orange-link);
}
.menu-link::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--orange-link);
    border-radius: 23px 10px 0px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .4s;
}
.menu-link:hover::after{
    width: 100%;
}
.logo {
    color: var(--white);
    font-family: var(--Comfortaa);
    font-size: 18px;
    font-weight: 700;
}
/* SITE-HEADER */

